beautifulsoup4==4.9.1
bokeh==2.1.1
certifi==2020.4.5.2
cffi==1.14.0
click==7.1.2
cryptography==2.9.2
decorator==4.4.2
et-xmlfile==1.0.1
Flask==1.1.1
future==0.18.2
get==2019.4.13
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.18.5
openpyxl==3.0.3
packaging==20.4
pandas==1.0.4
Pillow==9.0.0
post==2019.4.13
public==2019.4.13
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
python-telegram-bot==12.4.2
pytz==2020.1
PyYAML==5.3.1
query-string==2019.4.13
request==2019.4.13
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
tabulate==0.8.6
tornado==6.0.4
typing-extensions==3.7.4.2
urllib3==1.25.9
Werkzeug==1.0.1
